@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

/*Reset*/

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
      }

p {
    font-family: "Adamina";
    font-size: 18px;
}


/*Fin de reset*/



/*Section navbar*/

.nav-item {
    font-family: "Inika";
}

.navbar a {
    font-family: "Alice";
}


/*End section navbar*/

/*Section welcome*/



/*End section welcome*/

/*Section banner*/
.image-text {
    bottom: 170px;
    right: 160px;
    font-size: xx-large;
}

.image-text p {
    font-size: 25px;
}



/*End section banner*/

/*Section animals*/

.name {
    padding-top: 15px;
    background-color: white;
    color: black;
    padding-bottom: 15px;
    font-family: "Adamina";
}

.img-card {
    display: block;
    
}

.background-img {
    display: flex;
    justify-content: center;
    position: relative;
}

/*End section animals*/

/*Section services*/
#services {
    position: relative; 
}

.services_text {
    display: flex;
}


/*End section services*/

/*Section footer*/

#footer {
    width: 100%;
    font-family: "Inika";
}


.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*End section footer*/


/*mediaqueries*/
@media screen and (max-width: 768px) {
    .image-text{
        bottom: 0;
        right: 15px;
    }
    .image-text h1 {
        font-size: 14px;
    }
    .image-text p {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
   
    .img-card .name {
        width: 70%;
    }

}

/*fin mediaqueries*/