@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

.hero-scene {
    display: flex;
    background-size: cover;
}

.hero-scene-content {
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    align-items: center;
}
main {
    margin-bottom: 210px;
}


footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Inika";
}

.nav-item {
    font-family: "Inika";
}

p {
    font-family: "Adamina";
    font-size: 18px;
}


.name {
    background-color: white;
    color: black;
    padding-bottom: 15px;
    font-family: "Adamina";
}

.img-card {
    display: block;
    align-items: center;
}

.background-img {
    display: flex;
    justify-content: center;
    position: relative;
}

